/*------------------------------------------------------------
footer
------------------------------------------------------------*/
.c-footer {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;

    .c-end {
        background-image: url("./assets/img/footer.png");
        background-repeat: no-repeat;

        .c-end__nav {
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;

            .c-end__nav--logo {
                margin-top: 69px;
                margin-right: 2px;
            }

            .c-end__border1 {
                margin: 30px 0 20px;
            }
    
              
            .c-end__nav--title {
                font-size: 13px;
                color: rgb(255, 255, 255);
                text-align: center;
                line-height: 30px;
                font-weight: 500;
                font-family: "Yu Gothic";
                transform: translate(5px, -2px);
                letter-spacing: 0.8px;
                margin-bottom: 28px;

                span {
                    display: block;
                }
            }
    
              
    
            .c-end__icon {
                margin: 20px 0 24px;
                color: #fff;
    
                i {
                    margin: 0 10px;
                    font-size: 36px;
                    font-weight: 500;
                    line-height: 30px;
                }
            }

            .c-end__text {
                margin-bottom: 90px;
                font-size: 12px;
                color: rgb(255, 255, 255);
                line-height: 2.5;
                text-align: center;
                letter-spacing: 1.2px;
            }
        }
    }

  
}
