/* Header
------------------------------------------------------------*/
.c-header {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
 
    .l-container {
        width: 100%;
        max-width: 1880px;
        margin: 0 auto;

        .c-home {
            background-image: url("./assets/img/image1.png");
            background-repeat: no-repeat;

            .c-home__nav {
                color: #fff;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 244px 0 247px;

                h1 {
                    margin: 10px 3px 74px 0;
                }

                .c-home__nav--title {
                    // font-size: 36px;
                    // font-family: "Yu Mincho";
                    // color: rgb(255, 255, 255);
                    // line-height: 1.2;
                    // letter-spacing: 12px;
                    // text-align: center;
                    margin-bottom: 44px;
                    margin-right: 4px;
                    
                }

                .c-home__text {
                    margin-bottom: 79px;
                    font-size: 14px;
                    font-family: "Muli";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.2;
                    text-align: center;
                    word-spacing: 2.6px;
                    letter-spacing: 1.9px;

                }

                
                .c-home__nlist {
                    font-size: 14px;
                    font-family: "Muli";
                    color: rgb(255, 255, 255);
                    line-height: 2.143;
                    display: flex;
                    font-weight: 500;
                    text-align: left;
                    margin-right: 4px;
                    transform: translateX(-13px);

                    ul {
                        display: flex;
                        flex-direction: row;

                        li {
                            a {
                                letter-spacing: 1px;
                                padding: 0 25px;
                                position: relative;

                                &::after {
                                    content: "";
                                    height: 4px;
                                    width: 0;
                                    background-color: red;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    transition: all 0.5s ease-in-out;                        
                                }

                                &:hover {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                            
                        }
                    }

                    .c-home__icon {
                        margin-left: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        i {
                            margin-right: 15px;
                            font-size: 35px;
                            font-weight: 500;
                            line-height: 30px;
                        }
                    }
                   
                }
            }
        }
    }
    
}

// 
@media(max-width: 1024px) {
    .c-header {
        .l-container {
            .c-home {
                .c-home__nav {
                    .c-home__nlist {
                    }
                }
            }
        }
        
    }
 
}

// 768



// 375

// sweet
.c-header__sweet {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    background: rgba(255, 255, 255, 0.9);
 
    .l-container {
        margin: 0 auto;

        .c-home {
            background: url("./assets/img/sweet/image_bg.png") center;
            background-repeat: no-repeat;
            padding: 0 0 114px;
            
            .c-home__nav {
                color: #fff;
                margin: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h1 {
                    margin-top: 120px;
                    margin-bottom: 84px;
                    letter-spacing: 2px;
                }

                .c-home__nav--title {
                    margin-bottom: 50px;

                }

                .c-home__text {
                    margin-bottom: 90px;
                    font-size: 14px;
                    font-family: "Muli";
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    line-height: 1.2;
                    text-align: center;
                }

                .c-home__nlist {
                    font-size: 14px;
                    font-family: "Muli";
                    color: rgb(255, 255, 255);
                    line-height: 2.143;
                    display: flex;
                    font-weight: 500;
                    text-align: left;
                    margin-right: 4px;
                    transform: translateX(6px);
                    letter-spacing: 1px;

                    ul {
                        display: flex;
                        flex-direction: row;

                        li {
                            a {
                                letter-spacing: 1px;
                                padding: 0 25px;
                                position: relative;

                                &::after {
                                    content: "";
                                    height: 4px;
                                    width: 0;
                                    background-color: red;
                                    position: absolute;
                                    bottom: 0;
                                    left: 0;
                                    transition: all 0.5s ease-in-out;                        
                                }

                                &:hover {
                                    &::after {
                                        width: 100%;
                                    }
                                }
                            }
                            
                        }
                    }

                    .c-home__icon {
                        margin-left: 20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        i {
                            margin-right: 15px;
                            font-size: 35px;
                            font-weight: 500;
                            line-height: 30px;
                        }
                    }
                   
                }
            }
        }
    }
    
}

/* Main menu
------------------------------------------------------------*/

