/* layout
------------------------------------------------------------*/
body {
    margin: 0 auto;
    font-family: "Yu Gothic";
    // min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// home
main.p-top {
    .c-bg {
        padding: 0;

        .l-container {
            display: flex;
            justify-content: center;

            .c-bg__ticker1 {
                .c-bg__baner {
                    position: relative;

                    .c-bg__logo {
                        .c-bg__text {
                            p {
                                font-size: 14px;
                                font-family: "Muli";
                                color: rgb(100, 34, 0);
                                line-height: 60px;
                                font-weight: 500;
                            }
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            padding-left: 69px;
                            justify-content: center;
                            width: 100%;
                            max-width: 520px;
                            height: 100%;
                            max-height: 244px;
                            background-color: rgb(255, 255, 255);
                            opacity: 0.8;
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);

                            a {
                                font-size: 16px;
                                font-weight: 500;
                                color: rgb(100, 34, 0);
                                line-height: 2.25;
                                text-align: center;
                                margin-top: 26px;
                                display: flex;
                                align-items: center;
                                border: 1px solid #642200;
                                text-align: center;
                                padding: 9px 75px;
                            }
                        }
                     
                    }

                    .c-bg__icon {
                        position: absolute;
                        top: -15px;
                        right: 30px;
                    }
                }

            }

            .c-bg__ticker2 {
                .c-bg__baner {
                    position: relative;
                }

                .c-bg__logo {
                    .c-bg__text {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        padding-left: 69px;
                        width: 100%;
                        max-width: 520px;
                        height: 100%;
                        max-height: 244px;
                        background-color: rgb(255, 255, 255);
                        opacity: 0.8;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);

                        a {
                            font-weight: 500;
                            font-size: 16px;
                            color: rgb(100, 34, 0);
                            line-height: 2.25;
                            text-align: center;
                            margin-top: 26px;
                            display: flex;
                            align-items: center;
                            border: 1px solid #642200;
                            text-align: center;
                            padding: 9px 75px;
                        }
                    }
                 
                }
            }
        }
    }

    .c-bg1 {
        padding: 0;

        .l-container {
            display: flex;
            justify-content: center;

            .c-bg1__background {
                position: relative;

                .c-bg1__characters {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: flex;
                    justify-content: space-between;

                    .c-bg1__heading {
                        padding: 0 56px 0 20px;
                    }

                    .c-bg1__button {
                        padding-top: 20px;
                        
                        .c-bg1__text {
                            display: flex;
                            flex-direction: row;
                        }

                        .c-bg1__btn {
                            font-size: 16px;
                            font-family: "Yu Gothic";
                            color: rgb(255, 255, 255);
                            line-height: 2.25;
                            text-align: center;
                            margin-top: 40px;
                            display: inline-flex;
                            justify-content: center;
                            align-items: center;
                            background-color: #642200;
                            padding: 8px 72.5px;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }
                }
            }
        }
    }

    .c-bg2 {
        padding: 0;

        .l-container {
            width: 100%;
            max-width: 1920px;
            display: flex;
            justify-content: center;

            .c-bg2__background {
                background-color: #ff9c46;
                width: 100%;
                max-width: 1920px;
                height: 696px;
                display: flex;

                .c-bg2__info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    margin: 0 auto;

                    .c-bg2__dish {
                        margin-top: 20px;
                        display: flex;
                        flex-direction: row;

                        .c-dish1 {
                            text-align: center;
                            width: 100%;
                            max-width: 300px;

                            ~.c-dish1 {
                                margin-left: 50px;
                            }

                           
                        }

                    }

                    .c-dish__img {
                        position: relative;
                        margin-bottom: 15px;

                    

                        .c-dish__menu {
                            position: absolute;
                            top: 1px;
                            left: 0;

                           
                        }

                        .c-dish__time {
                            display: flex;
                            flex-direction: column;
                            position: absolute;
                            top: 16px;
                            right: 10px;
                        }
                    }

                    .c-bg2__btn {
                        font-size: 16px;
                        color: rgb(255, 255, 255);
                        line-height: 2.25;
                        text-align: center;
                        margin-top: 48px;
                        background-color: #642200;
                        padding: 8px 100px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }

           
        }
    }
}
// sweet
main.p-sweet {
    .c-cake {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        padding-bottom: 70px;
        border-bottom: 1px solid #ccc;

        .c-cake_adt {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .c-cake__head {
                margin-top: 70px;
                margin-bottom: 44px;
            }

            .c-cake__content {
                display: flex;
                justify-content: center;
               
    
                .c-cake__info {
                    padding-right: 50px;

                    .c-cake__title {
                        margin-bottom: 24px;
                    }

                    .c-cake__button {
                        display: inline-block;
                        background-color: #642200;
                        padding: 10px 53px;

                        &:hover {
                            opacity: 0.8;
                        }
                    }

                    p {
                        margin-bottom: 54px;
                    }
                }
            }
        }

    }

    .c-fruit {
        margin: 0 auto;
        width: 100%;
        max-width: 1000px;
        margin-top: 70px;
        padding-bottom: 90px;
        border-bottom: 1px solid #ccc;

        .c-cake_adt {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .c-cake__head {
                margin-top: 70px;
                margin-bottom: 44px;
            }

            .c-cake__content {
                display: flex;
                justify-content: center;

                .c-cake__img {
                    margin-right: 50px;
                }

                h3.c-cake__title {
                    padding: 0 0 20px 16px;
                }

                p {
                    padding-bottom: 58px;
                }

             
            }

            .c-cake__button {
                display: inline-block;
                background-color: #642200;
                padding: 10px 53px;

                &:hover {
                    opacity: 0.8;
                }
            }
        }

    }

    .c-boxcook {
        background-color: #fafafa;

        margin: 90px auto 0;
        width: 100%;
        max-width: 1920px;

        .c-boxcook__post {
            padding: 90px 0;
            width: 1000px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3 {
                margin-bottom: 44px;
            }

            .c-boxcook__content {
                margin-top: 46px;

                .c-boxcook__work {
                    padding-bottom: 16px;
                    border-bottom: 2px dotted #642200;
                    margin-bottom: 16px;
                }
            }
        }
    }

    .c-about {
        width: 100%;
        max-width: 1000px;
        margin: 90px auto;

        .c-about__info {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            .c-about__card {
                width: 100%;
                max-width: 1000px;
                display: flex;
                justify-content: space-between;

                .u-card {
                    border: #ccc 1px solid;
                    padding: 42px 8px 22px 10px;
                    margin: 50px 0;
                  

                    width: 320px;

                    .c-about__logo {
                        width: 100%;
                        max-width: 80px;
                        margin: 0 auto;
                        margin-bottom: 40px;
                    }
    
                    h4 {
                        padding-bottom: 10px;
                        margin-bottom: 10px;
                        border-bottom: #642200 2px dotted;
                    }
                }

            }
           

        }

        .c-about__btn {
            display: inline-block;
            background-color: #642200;
            padding: 10px 53px;

            &:hover {
                opacity: 0.8;
            }
        }
    }



}


//-------------------------------------------------------
.l-container {
    // width: $base-width;
    margin: 0 auto;
}
//-------------------------------------------------------
.c-mainvisual {
    margin-top: -63px;
    padding: 0;
    height: 700px;
    background-size: cover;
    color: #fff;

    &__inner {
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
        padding-top: 63px;
        text-align: center;
    }

    h2 {
        width: 100%;
        flex-basis: 100%;
        font-size: 8rem;
        font-weight: 400;
    }

    p {
        width: 100%;
        font-size: 2rem;
    }

    .c-btn1 {
        margin-top: 50px;
    }

    //==================
    &--subpage {
        height: 300px;

        h2 {
            font-size: 5rem;
        }
    }
}
