/* layout
------------------------------------------------------------*/
body {
    margin: 0 auto;
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    min-width: $base-width;
    line-height: 1.5;
    @include sp {
        min-width: 320px;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.bg-bink {
    background-color: #ffdfdf;
}

.bg-green {
    background-color: #a3d39c;
}

.bg-yellow {
    background-color: #fff799;
}
// trang home
main.p-top {
    // padding: 0px 0 100px;
    .l-main1 {
        padding: 0;

        .c-top__breadcrumb {
            padding: 0 0 34px;

            i {
                font-size: 1.3rem;

            }

            span {
                font-weight: 500;
                padding-left: 3px;
                font-size: 1.4rem;
            }
        }

        .c-top__image {
            padding-bottom: 10px;
            position: relative;

            .c-top__image-button {
                position: absolute;
                display: inline-block;
                background-color: #ffdfdf;
                font-family: "Yu Gothic";
                font-size: 1.6rem;
                line-height: 30px;
                font-weight: bold;
                left: 40px;
                bottom: 115px;
                padding: 3px 22px;

            }

            
            .c-top__title {
                position: absolute;
                font-size: 20px;
                position: absolute;
                display: inline-block;
                left: 40px;
                bottom: 42px;
                line-height: 30px;
                font-weight: 500;
                word-spacing: 2.4px;

                .ml {
                    margin-left: 5px;
                    word-spacing: 5px;

                }

                .ml-1 {
                    margin-left: 3px;
                }

                .ml-2 {
                    margin-left: 2px;
                }

                .ml-3 {
                    margin-left: 2px;
                }

                .ml-sub {
                    margin-left: -3px;
                }

                .ml-sub-r {
                    margin-left: -1px;
                    margin-right: 5px;
                }

                .sub-l {
                    margin-left: 5px;
                    margin-right: -3px;
                }
            }
        }

    }

    .l-main2 {
        padding: 0;

        .c-top__lable {
            background-color: #fff9da;
            border-bottom: 1px solid #ffd800;
            border-right: 1px solid #ffd800;
            border-top: 1px solid #ffd800;
            border-left: 8px solid #ffd800;
            margin: 34px 0 29px;

            span {
                padding: 0 19px;
                display: block;
                font-size: 24px;
                font-weight: bold;
                font-family: "Yu Gothic";
            }
            
        }

        .c-top__content {
            .c-top__card {
                display: flex;

                +.c-top__card {
                    margin-top: 30px;
                }

                .c-top__img {
                    background-repeat: no-repeat;
                    max-width: 350px;
                    position: relative;

                

                    .c-top_img-img {
                        position: relative;
                    }

                    .c-top__img-category {
                        position: absolute;
                        display: inline-block;
                        padding: 1px 22px;
                        font-weight: 400;
                        left: 0;
                        top: 0;
                        font-size: 1.4rem;
                        font-family: "Yu Gothic";

                    }
                }

                .c-top__info {
                    position: relative;
                    top: -9px;
                    max-width: 610px;
                    margin-left: 40px;
                    position: relative;
                    font-size: 1.4rem;
                    letter-spacing: 0.3px;

                    .c-top__info--text {
                        line-height: 1.42;
                        letter-spacing: 0.4px;
                        margin-top: 6px;
                    }
                }
        
              
        
               
        
                .c-top__title-button {
                    position: absolute;
                    background-color: #afafaf;
                    padding: 11px 56px;
                    font-family: "Yu Gothic";
                    bottom: -10px;
                    right: 0;
                    border-radius: 6px;

                    span {
                        color: #ffff;
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .c-top__link {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 60px 0 120px;
    
            .u-top__button {
                font-family: "Yu Gothic";
                padding: 21.5px 94px;
                background-color: #ffd800;
                color: #fff;
                border: 2px solid #000;
                border-radius: 6px;
                font-weight: bold;
                font-size: 1.125rem;
                line-height: 20px;
            }
        }
    
    }

   
    .l-main3 {
        padding: 0;
        max-width: 1000px;
        margin: 0 auto;

        .c-top__lable {
            background-color: #fff2f2;
            border-bottom: 1px solid #f68e56;
            border-right: 1px solid #f68e56;
            border-top: 1px solid #f68e56;
            border-left: 8px solid #f68e56;
            margin: 44px 0 29px;

            span {
                padding: 0 19px;
                display: block;
                font-size: 24px;
                font-weight: bold;
                font-family: "Yu Gothic";
            }
        }

        // 
        .c-top__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
    
            .c-top__list--text {
                max-width: 300px;
                margin-bottom: 44px;
                font-weight: 500;
                font-family: "Yu Gothic";

                .c-top__list--img {
                    position: relative;
                }

                .c-top__list--button {
                    position: relative;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    padding: 1px 24px;
                    font-size: 1.4rem;
                    margin: 15px 0;
                    letter-spacing: 0;

                    .pading {
                        margin: 0 -2px;
                    }

                    span {
                        margin-left: 2px;
                    }

                    .ml-text {
                        margin-left: -1.4px;
                    }
                }
    
                .c-top__list--title {
                    font-size: 1.35rem;
                    line-height: 20px;
                    word-spacing: 0;
                    letter-spacing: 0.2px;
                    margin-top: 2px;               }
    
              
            }
        }

        
        .c-top__link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 8px 0 121px;

            .u-top__link--button {
                padding: 17px 91px;
                background-color: rgb(246, 142, 86);
                color: #fff;
                border: 2px solid #000;
                border-radius: 3px;
                font-weight: bold;
                font-size: 18px;
                letter-spacing: 0.6px;
                font-family: "Yu Gothic";

            }
        }
    }

     
    .l-main4 {
        padding: 0;
        max-width: 1000px;
        margin: 0 auto;

        .c-top__lable {
            background-color: #ebebeb;
            border-bottom: 1px solid #6dcff6;
            border-right: 1px solid #6dcff6;
            border-top: 1px solid #6dcff6;
            border-left: 8px solid #6dcff6;
            margin: 44px 0 29px;

            span {
                padding: 1px 19px 0;
                display: block;
                font-size: 2.4rem;
                font-weight: 700;
                font-family: "Yu Gothic";
                
            }
        }

        // 
        .c-top__content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .c-top__list--text {
                max-width: 475px;
                margin-bottom: 45px;

                .c-top__list--img {
                    position: relative;
                }

                .c-top__list--button {
                    font-family: "Yu Gothic";

                    position: relative;
                    top: 0;
                    left: 0;
                    display: inline-block;
                    padding: 1px 22.5px;
                    font-size: 1.4rem;
                    margin: 15px 0;

                    span {
                    }
                }
    
                .c-top__list--title {
                    font-family: "Yu Gothic";
                    font-size: 1.4rem;
                    line-height: 1.4;
                    margin-top: 2px;

                }
    
              
            }
        }

        
        .c-top__link {
            background-color: #6dcff6;
            padding: 17px 149px;
            border: 2px solid #000;
            text-align: center;
            border-radius: 4px;
            margin-bottom: 116px;

            .u-top__link--button {
                color: #fff;
                font-weight: 700;
                font-size: 18px;
                word-spacing: 0.1px;
                font-family: "Yu Gothic";
                line-height: 20px;

                span {
                    margin-left: -2px;
                }
              
            }
        }
    }

    // 
   
}

//-------------------------------------------------------
// link1
.p-top {
    .c-home {
        padding: 0 0 61px;

        .c-home__link {
            padding: 0 0 34px;

            i {
                font-size: 1.4rem;
            }
            display: flex;
            font-size: 1.4rem;
            font-weight: 500;

            .c-home__text-link {
                margin-left: 6px;
            }

            .c-home__text--border {
                border-bottom: 1px solid #000;
            }

            .bold {
                font-size: 1.3rem;
                font-weight: bold;
                margin: 0 5px;
            }
        }

        .c-home__button {
          
            max-width: 1000px;
            display: flex;
            justify-content: space-between;
            font-family: "Yu Gothic";
            
            .c-home__button-link {
                +.c-home__button-link {
                    letter-spacing: 0.8px;
                    margin-left: -2px;
                    word-spacing: 0.4px;

                }
                width: 300px;
                background-color: rgb(0, 173, 239);
                color: #fff;
                font-size: 1.5rem;
                padding: 0;
                text-align: center;
                padding: 7px 51px;
                border-radius: 6px;
            }
        }

    }

    .c-title__one {
        padding: 0;

        .c-title__text {
            span {
                display: block;
            }

            .c-title__anchor {
                font-weight: bold;
                text-align: left;
                font-size: 1.8rem;
                font-family: "Yu Gothic";

            }

            .c-title__boder {
                border: 1px solid #ccc;
                margin: 4px 0 21px;
                border-collapse: collapse;
                background-color: #ccc;
            }

            .c-title__dummy {
                font-size: 1.4rem;
                margin-bottom: 12px;
                letter-spacing: 0.4;
                font-weight: 500;

                .dummy-ml {
                    padding-left: 1px;
                    display: inline-block;
                }

                .link_red {
                    margin-left: 3px;
                }

                a {
                    word-spacing: 2px;
                    color: #7898fb;
                    text-decoration: underline #7898fb solid;
                }
            }
        }

        .c-title__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            $bg-green: #a3d39c;
            $bg-yellow: #fff799;
            $bg-bink: #ffdfdf;
            font-weight: 500;
            font-family: "Yu Gothic";

            .c-title__img {
                max-width: 300px;
                margin-bottom: 42px;

                .bg-green {
                    background-color: $bg-green;
                }

                .bg-yellow {
                    background-color: $bg-yellow;
                }

                .bg-bink {
                    background-color: $bg-bink;
                }
                
                .c-title__img-button {
                    padding: 1px 22px;
                    display: inline-block;
                    margin-top: 16px;
                    margin-bottom: 18px;
                    font-size: 1.4rem;
                    font-family: "Yu Gothic";

                }

                .c-title__img-text {
                    font-family: "Yu Gothic";
                    font-size: 1.4rem;
                    line-height: 1.2;
                }
            }
        }
    
    }

    .c-title__two {
        padding: 0;
        margin-bottom: 30px;

        .c-title__text {
            span {
                display: block;
                margin-top: 2px;
            }

            .c-title__anchor {
                font-weight: bold;
                text-align: left;
                font-size: 1.8rem;
                letter-spacing: 0;
                font-family: "Yu Gothic";

            }

            .c-title__boder {
                border: 1px solid #ccc;
                margin: 4px 0 30px;
            }

           
           
            .c-title__dummy {
                font-size: 1.4rem;

                a {
                    color: #7898fb;
                    text-decoration: underline #7898fb solid;
                }
            }
        }

        .c-title__card {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            $bg-green: #a3d39c;
            $bg-yellow: #fff799;
            $bg-bink: #ffdfdf;

            .c-title__img {
                max-width: 235px;
                margin-bottom: 12px;
                font-weight: 500;

                .editone {
                    padding-left: -20px;
                }

                .bg-green {
                    background-color: $bg-green;
                }

                .bg-yellow {
                    background-color: $bg-yellow;
                }

                .bg-bink {
                    background-color: $bg-bink;
                }
                
                .c-title__img-button {
                    padding: 0 22px;
                    display: inline-block;
                    margin-top: 16px;
                    margin-bottom: 18px;
                    font-size: 1.4rem;
                    font-family: "Yu Gothic";
                }

                .c-title__img-text {
                    font-family: "Yu Gothic";
                    font-size: 1.4rem;
                    line-height: 1.4;
                    font-size: 1.4rem;
                    margin-top: 10px;
                }
            }
        }
    
    }

    .c-title__three {
        padding: 0;

        .c-title__caption {
            background-color: #ece6e6;
            display: block;
            font-size: 1.6rem;
            font-weight: 700;
            padding: 5px 0 3px 15px;
            font-family: "Yu Gothic";

        }

        .c-title__text {
            span {
                display: block;
            }

            .c-title__anchor {
                font-weight: bold;
                text-align: left;
                font-size: 1.8rem;
                letter-spacing: 0;
                font-family: "Yu Gothic";
            }

            .c-title__boder {
                border: 1px solid #ccc;
                margin: 4px 0 28px;
            }

          
        }

        .c-caption__one {
            position: relative;

            .magrin {
                margin-bottom: 58px;
                display: block;
            }

            .c-title__dummy {
                position: absolute;
                top: 61px;
                left: 0;
                font-size: 1.3rem;
                font-weight: 500;
                font-family: "Yu Gothic";
                letter-spacing: 0.7px;
                line-height: 1.7;

                .text-letter {
                    margin-left: -4px;
                    position: relative;                  
                }

                .text-letter2 {
                    position: absolute;
                    display: block;
                    top: 20px;
                    left: 2px;
                    margin-left: -4px;
                    font-size: 1.3rem;
                    font-weight: 500;
                    font-family: "Yu Gothic";                  
                }

                a {
                    margin-top: 2px;
                    color: #f22;
                    text-decoration: underline #f22 solid;
                }
            }

            .c-title__table-title {
                table,
                th,
                td {
                    border: 1px solid #d9d9d9;
                    border-collapse: collapse;
                    font-weight: 500;
                }

                thead {
                    height: 37px;
                }

                .color-x {
                    background-color: #acd373;
                    color: #ffff;
                }
                display: block;
               
                .c-title__table-text {
                    height: 144px;
                    font-size: 1.4rem;
                    text-align: center;
                }

                .column1 {
                    width: 64px;
                }

                .column2 {
                    width: 142px;
                    word-spacing: 0.8px;
                }

                .column3 {
                    width: 142px;
                }

                .column4 {
                    width: 142px;
                    word-spacing: 0.8px;
                }
            }
        }

        .c-caption__two {
            margin: 49px 0 110px;
            font-family: "Yu Gothic";

            .c-title__caption {
                margin-bottom: 1px;
            }

            .c-title__dummy {
                font-size: 1.4rem;
                margin-top: -5px;
                top: 0;
                left: 0;
                display: block;

                a {
                    color: #ffc774;
                    text-decoration: underline #ffc774 solid;
                }
            }

            .c-title__table-title {
                .c-table {
                    &2 {
                        font-size: 1.4rem;
                        font-weight: 500;
                        font-family: "Yu Gothic";
                        margin-top: 12px;
                        letter-spacing: 0.4px;

                        dl {
                            text-align: center;
                            display: flex;

                            dt {
                                padding: 2px 20px;
                                border: #ccc 1px solid;
                            }

                            dd {
                                padding: 10px 40px;
                            }

                            &.c-row {
                                &1 {
                                    dt {
                                        width: 141px;
                                        letter-spacing: 0.4px;
                                        word-spacing: 0.6px;

                                        &:first-child {
                                            background: #d3d7d9;
                                            width: 68px;
                                            padding: 4px 20px;  
                                        }
                                    }
                                }

                                &2 {
                                    dt {
                                        width: 141px;

                                        &:first-child {
                                            width: 68px;
                                            background: #d3d7d9;
                                            
                                        }
                                    } 
                                }
                            }
                        } 
                    }
                }
            }
        }

       
    }

   
   
  

    
   


 
 



}

// link2
.p-top__link2 {
    .c-home {
        padding: 2px 0 25.5px;

        i {
            font-size: 1.4rem;
            font-weight: 700;
        }

        .c-home__link {
            padding: 0 0 37px;
            font-weight: 500;
            display: flex;
            font-size: 1.4rem;

            .c-home__text-link {
                margin-left: 6px;

                i {
                    margin: 0 8px 0 3px;
                }
            }

            .c-home__text--border {
                border-bottom: 1px solid #000;
            }

            .bold {
                font-size: 1.4rem;
                font-weight: 700;
            }
        }

        .c-home__button {
            text-align: center;
            border: 2px solid #000;
            background-color: #6dcff6;
            padding: 16.5px 0;
            font-family: "Yu Gothic";

            .c-home__link-text {
                outline: none;
                font-weight: bold;
                width: 100%;
                font-size: 3rem;
                letter-spacing: 1.6px;
            }
        }
     
       

    }

    .c-content {
        padding: 0;
        margin-bottom: 70px;

        .c-content__title {
            margin-bottom: 51px;

            .c-content__title--img {
                position: relative;
                margin-bottom: 21px;
    
                .c-content__title-boder {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                }
    
                .c-content__title-text {
                    position: absolute;
                    top: 14px;
                    left: 26px;
                    display: inline-block;
                }
            }

            .c-content_title-text {
                font-size: 15px;
                font-family: "Yu Gothic";
                font-weight: 500;
                line-height: 20px;

                strong {
                    color: #c40000;
                }
            }
        }

        .c-content_text {
            .c-content_text-icon {
                margin-bottom: 16.5px;

                .c-content_magrin {
                    margin-bottom: 8px;
                    display: block;
                } 
    
                .c-content__icon1 {
                    font-size: 15px;
                    font-family: "Yu Gothic";
                    font-weight: 500;
                    line-height: 20px;

                    .text1 {
                        margin-left: 3px;

                        .text2 {
                            margin-left: -2px;

                            .text3 {
                                margin-right: 1px;
                            }

                            .text4 {
                                margin-right: 2px;
                            }
                        }
                    }
                }
            }
           
        }

        .c-content__text-border {
            .c-content__text-red {
                border: 1px solid #11638a;
                border-radius: 3px;

                .c-content__radius {
                    padding: 16px 25px 17px;
                    position: relative;
                    color: #11638a;

                    .c-content__text {
                        font-size: 15px;
                        line-height: 20px;
                        font-weight: 600;
                        font-family: "Yu Gothic";

                        .mr-1 {
                            margin-right: 6px;
                        }

                        .mr-2 {
                            margin-right: -3px;
                        }
                    }

                    .size {
                        font-size: 2rem;
                    }
                }
            }
        }
    }

   
    .c-content__two {
        padding: 0;

        .c-content__title {
            margin-bottom: -2px;

            .c-content__title--img {
                position: relative;
                margin-bottom: 24px;
    
                .c-content__title-boder {
                    position: absolute;
                    top: 0;
                    left: 0;
                    display: inline-block;
                }
    
                .c-content__title-text {
                    position: absolute;
                    top: 14px;
                    left: 26px;
                    display: inline-block;
                }
            }
        }

        .c-content__title-icon {
            .c-content__space1 {
                padding-bottom: 30px;
                font-size: 15px;
                font-family: "Yu Gothic";
                line-height: 20px;
                display: block;
                font-weight: 500;
            }

            .c-content__space--text {
                margin-bottom: 22px;
                font-size: 15px;
                font-family: "Yu Gothic";
                display: block;
                font-weight: 500;
            }

            .c-conteny__list {
                font-size: 1.4rem;
                font-weight: 600;
                line-height: 30pt;
                font-family: "Yu Gothic";
                letter-spacing: 0.2px;
                

                dl {
                    line-height: 30px;

                    .color-red {
                        color: #fac8cb;

                        &.ml {
                            margin-right: 3px;
                            
                            .mr {
                                margin-left: -10px;
                            }
                        }

                    }

                    dd {
                        padding-left: 36px;
                    }

                }
               

                .list-one {
                    position: relative;
                }

                .list-two {
                    position: absolute;
                    display: inline-block;
                    bottom: 0;
                    left: 0;
                }
            }

            .c-content__space2 {
                padding-bottom: 7px;
            }

            .c-content__space3 {
                padding-bottom: 38px;
            }

          
            .c-content__space5 {
                padding-left: 23px;
                padding-bottom: 25px;
            }

            .c-content__space6 {
                padding-left: 30px;
                padding-bottom: 40px;
            }

          
            
        }

        .c-content__title-icon1 {
            margin-top: 27px;

            .c-content__text-header {
                display: block;
                padding: 8px 0;
                line-height: 20px;
                font-size: 14px;
                font-weight: 600;
                font-family: "Yu Gothic";
                padding-bottom: 15.5px;
            }

            .c-content__text-title {
                .c-content__text-footer {
                    line-height: 20px;
                    font-size: 14px;
                    font-weight: 600;
                    font-family: "Yu Gothic";
                }
            }

            .c-content__text-red {
                border: 1px solid #ffa0a5;
                border-radius: 3px;
                margin-bottom: 35px;

                .c-content__radius {
                    padding: 17px 25px;
                    position: relative;
                    color: #ffa0a5;
                    line-height: 20px;
                    font-size: 15px;
                    font-weight: 600;
                    font-family: "Yu Gothic";

                    .c-content__text-blue {
                        position: absolute;
                        top: 0;
                        left: 0;
    
                    
                    }
    
                    .c-content__text {
                        font-size: 1.5rem;
                        font-weight: 550;
    
                    }

                    .size {
                        font-size: 2rem;
                    }
                }
            }
            
        }

        .c-content__table {

            margin-top: 10px;
            margin-bottom: 124px;
            line-height: 20px;
            font-size: 14px;
            font-weight: 500;
            font-family: "Yu Gothic";

            .c-table {
                &1 {
                    display: flex;
                    border: 1px solid #ccc;

                    dl {
                        width: 100%;

                        dt {
                            background: #acd373;
                            padding: 10px 20px;
                            color: #fff;
                            height: 36px;
                            text-align: center;
                            border-bottom: 1px solid #ccc;
                        }

                        dd {
                            padding: 7px 20px;
                            text-align: center;
                            border-bottom: 1px solid #ccc;

                            &:last-child {
                                border-bottom: 0;
                            }
                        }

                        &.c-col1 {
                            max-width: 174px;
                            border-right: 1px solid #ccc;

                            dt {
                               

                            }

                            dd {
                                // border: 1px solid #ccc;
                                background: #ebebeb;
                            }
                        }

                        &.c-col2 {
                            border-right: 1px solid #ccc;

                            &:last-child {
                                border-right: 0;
                            }

                            dt {
                                
                                color: #fff;
                                padding: 10px 20px;
                            }

                            dd {
                                // border: 1px solid #ccc;

                            }
                        }
                    }
                }

            }
        }
    }


    
 
}



// 

section {
    padding: 50px 0 90px;
}

//-------------------------------------------------------
.l-container {
    width: $base-width;
    margin: 0 auto;
}
//-------------------------------------------------------
.c-mainvisual {
    margin-top: -63px;
    padding: 0;
    height: 700px;
    background-size: cover;
    color: #fff;

    &__inner {
        position: relative;
        top: 50%;
        transform: translate(0%, -50%);
        padding-top: 63px;
        text-align: center;
    }

    h2 {
        width: 100%;
        flex-basis: 100%;
        font-size: 8rem;
        font-weight: 400;
    }

    p {
        width: 100%;
        font-size: 2rem;
    }

    .c-btn1 {
        margin-top: 50px;
    }

    //==================
    &--subpage {
        height: 300px;

        h2 {
            font-size: 5rem;
        }
    }
}
