<footer class="c-footer">
    <div class="l-container__fluid">
      <div class="c-footer__home">
        <div class="c-footer__link">
          <div class="c-footer__link-magrin">
            <div class="c-footer__text-home">
             <a href="#home">
              <i class="fas fa-home-lg"></i>
              <span class="c-footer__text--border">
                HOME
              </span>
             </a>
            </div>
            <div class="c-footer__text-link">
              <i class="bold fas fa-angle-right"></i>
              Link1
            </div>
          </div>
        </div>
      </div>
      <div class="c-footer__boxlink">
        <span class="c-footer__text">
          <p class="c-footer_pading"><b>Box link 1</b></p>
          <span class="c-footer__border"></span>
          <ul class="c-footer__list cirle">
            <li>Link link</li>
            <li>Link <span class="ml-1">link link</span></li>
            <li>Link <span class="ml-1">link link link</span> link</li>
            <li>Link <span class="ml-2">link link</span></li>
            <li>Link <span class="ml-2">link link link</span></li>
          </ul>
        </span>
        <span class="c-footer__text">
          <p class="c-footer_pading"><b>Box link 1</b></p>
          <span class="c-footer__border"></span>
          <ul class="c-footer__list">
            <li><i class="size-space fas fa-angle-right"></i>Link link link link link link</li>
            <li><i class="size-space fas fa-angle-right"></i>Link  <span class="ml-4">link link link link</span> link link link</li>
            <li><i class="size-space fas fa-angle-right"></i>Link  <span class="ml-3">link link link link</span></li>
            <li><i class="size-space fas fa-angle-right"></i>Link link link link link link link</li>
            <li><i class="size-space fas fa-angle-right"></i>Link link link link link<span class="ml-5"> link link link link</span></li>
          </ul>
        </span>
        <span class="c-footer__text">
          <p class="c-footer_pading"><b>Box link 1</b></p>
          <span class="c-footer__border"></span>
          <ul class="c-footer__list">
            <li><i class="size-space fas fa-link"></i>Link <span class="ml-6">link link link link <span class="ml-7">link link link</span></span></li>
            <li><i class="size-space fas fa-link"></i>Link <span class="ml-8">link link</span></li>
            <li><i class="size-space fas fa-link"></i>Link  <span class="ml-9">link link link</span>  link</li>
            <li><i class="size-space fas fa-link"></i>Link link link   <span class="ml-10">link link link link link link link</span></li>
            <li><i class="size-space fas fa-link"></i>Link <span class="ml-11"> link link link</span></li>
          </ul>
        </span>
      </div>
      <div class="c-footer__author">
        <p class="c-footer__author-company">@ Copyright Allgrow <span>Labo 2018</span></p>
      </div>
    </div>
</footer>