<footer class="c-footer">
  <div class="l-container">
    <div class="c-end">
        <div class="c-end__nav">
          <h1 class="c-end__nav--logo">
            <img src="./assets/img/logo1.png" alt="logo image">
          </h1>
          <span class="c-end__border1">
            <img src="./assets/img/border_footer.png" alt="image border">
          </span>
          <p class="c-end__nav--title">
            <img src="./assets/img/text_footer.png" alt="image text">
          </p>
          <span class="c-end__border2">
            <img src="./assets/img/border_footer.png" alt="image border">
          </span>
          <div class="c-end__icon">
            <a href="#">
              <i class="fa-brands fa-facebook"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#">
              <i class="fa-brands fa-line"></i>
            </a>
          </div>
          <p class="c-end__text">
            <img src="./assets/img/title_footer.png" alt="image title">
          </p>
        </div>
    </div>
  </div>
</footer>