<header class="c-header" id="home">
  <div class="c-main">
    <div class="l-container">
      <div class="c-gnav">
        <div class="c-gnav__logo">
          <h1 class="c-gnav__image">
            <a href="index.html">
              <img src="/assets/img/anhlogo.png" alt="anhlogo">
            </a>
          </h1>
          <nav class="c-gnav__link">
            <ul>
              <li class="c-gnav__link is-bold"><a href="index.html">Home</a></li>
              <li><a href="link1.html">Link 1</a></li>
              <li><a href="link2.html">Link 2</a></li>
            </ul>
          </nav>
        </div>
        <div class="c-gnav__space">
        </div>
      </div>
    </div>
  </div>
</header>

