<header class="c-header" id="home">
    <div class="l-container">
      <div class="c-home">
        <div class="c-home__nav">
          <h1 class="c-home__nav--logo">
            <a href="#">
              <img src="./assets/img/logo.png" alt="image4 logo">
            </a>
          </h1>
          <p class="c-home__nav--title">
            <img src="./assets/img/image_title.png" alt="">
            <!-- 誰もが安心して食べられるスイーツを。 -->
          </p>
          <p class="c-home__text">
            SWEETS THAT EVERYONE CAN EAT SAFFLY
          </p>
          <div class="c-home__nlist">
            <nav>
              <ul>
                <li><a href="index.html">HOME</a></li>
                <li><a href="#" class="is-mr">ABOUT</a></li>
                <li><a href="sweet.html" class="is-pl">SWEETS</a></li>
                <li><a href="#">CONTACT</a></li>
                <li><a href="#">BLOG</a></li>
              </ul>
            </nav>
            <div class="c-home__icon">
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-line"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>

