<header class="c-header" id="home">
    <div class="l-container">
      <div class="c-home">
        <div class="c-home__baner">
          <img src="./assets/img/image1.png" alt="image1">
        </div>
        <div class="c-home__nav">
          <h1 class="c-home__nav--logo">
            <img src="./assets/img/logo.png" alt="image4 logo">
          </h1>
          <p class="c-home__nav--title">
            <img src="./assets/img/image_title.png" alt="image title">
          </p>
          <p class="c-home__text">
            SWEETS THAT EVERYONE CAN EAT SAFFLY
          </p>
          <div class="c-home__nlist">
            <ul>
              <li><a href="#">HOME</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="#">SWEETS</a></li>
              <li><a href="#">CONTACT</a></li>
              <li><a href="#">BLOG</a></li>
            </ul>
            <div class="c-home__icon">
              <a href="#">
                <i class="fa-brands fa-facebook"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-instagram"></i>
              </a>
              <a href="#">
                <i class="fa-brands fa-line"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
</header>

